In [64]:
import pandas as pd
import numpy as np
import seaborn as sns

In [65]:
df = pd.read_csv('C:/Users/Admin/Downloads/4. covid_19_data.csv')

In [66]:
df

          Date     State          Region  Confirmed  Deaths  Recovered
0    4/29/2020       NaN     Afghanistan       1939      60        252
1    4/29/2020       NaN         Albania        766      30        455
2    4/29/2020       NaN         Algeria       3848     444       1702
3    4/29/2020       NaN         Andorra        743      42        423
4    4/29/2020       NaN          Angola         27       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US        545       7          0
317  4/29/2020  Xinjiang  Mainland China         76       3         73
318  4/29/2020     Yukon          Canada         11       0          0
319  4/29/2020    Yunnan  Mainland China        185       2        181
320  4/29/2020  Zhejiang  Mainland China       1268       1       1263

[321 rows x 6 columns]

In [67]:
df.isnull().sum()

Date           0
State        181
Region         0
Confirmed      0
Deaths         0
Recovered      0
dtype: int64

In [68]:
df.groupby('Region')[(['Confirmed', "Deaths", "Recovered"])].sum()

                    Confirmed  Deaths  Recovered
Region
Afghanistan              1939      60        252
Albania                   766      30        455
Algeria                  3848     444       1702
Andorra                   743      42        423
Angola                     27       2          7
...                       ...     ...        ...
West Bank and Gaza        344       2         71
Western Sahara              6       0          5
Yemen                       6       0          1
Zambia                     97       3         54
Zimbabwe                   32       4          5

[187 rows x 3 columns]

In [69]:
# removing the record where confirmed cases is less than 10 possible by using tilda~ function
df = df[~(df.Confirmed<10)]
df[df['Confirmed']<10].sum()

Date         0.0
State        0.0
Region       0.0
Confirmed    0.0
Deaths       0.0
Recovered    0.0
dtype: float64

In [70]:
#in which region the number of confirmed cases are highest.
df.groupby('Region').Confirmed.sum().sort_values(ascending= False).head(1)

Region
US    1039909
Name: Confirmed, dtype: int64

In [71]:
df.groupby('Region')['Confirmed'].sum().sort_values(ascending= False).head()

Region
US        1039909
Spain      236899
Italy      203591
France     166536
UK         166432
Name: Confirmed, dtype: int64

In [72]:
df.groupby('Region').Deaths.sum().sort_values(ascending= True).head()

Region
Cambodia                    0
Seychelles                  0
Saint Lucia                 0
Central African Republic    0
Saint Kitts and Nevis       0
Name: Deaths, dtype: int64

In [73]:
df[df.Region=='India'].sum()  # for getting the number of deaths, confirmed & Recovered cases in India

Date         4/29/2020
State                0
Region           India
Confirmed        33062
Deaths            1079
Recovered         8437
dtype: object

In [74]:
df[(df.Region=='India')& (df.Date< '4/20/20202')].sum()

Date         0.0
State        0.0
Region       0.0
Confirmed    0.0
Deaths       0.0
Recovered    0.0
dtype: float64

In [84]:
#sort entire data wrt no. of confirmed cases in ascending order
df['Confirmed'].sort_values(ascending= True).head(2)

156    10
70     10
Name: Confirmed, dtype: int64

In [89]:
df.sort_values(by= ['Confirmed'], ascending= True).head(10)

,Date,State,Region,Confirmed,Deaths,Recovered
156,4/29/2020,NaN,Suriname,10,1,8
70,4/29/2020,NaN,Holy See,10,0,2
59,4/29/2020,NaN,Gambia,10,1,8
318,4/29/2020,Yukon,Canada,11,0,0
217,4/29/2020,Greenland,Denmark,11,0,11
256,4/29/2020,Montserrat,UK,11,1,2
144,4/29/2020,NaN,Seychelles,11,0,6
27,4/29/2020,NaN,Burundi,11,1,4
306,4/29/2020,Turks and Caicos Islands,UK,12,1,5
118,4/29/2020,NaN,Nicaragua,13,3,7

In [92]:
#sort the entire dataset wrt to recovered cases in descending order 
df.sort_values(by= ['Recovered'], ascending= False).head()

          Date  State          Region  Confirmed  Deaths  Recovered
153  4/29/2020    NaN           Spain     236899   24275     132929
61   4/29/2020    NaN         Germany     161539    6467     120400
76   4/29/2020    NaN            Iran      93657    5957      73791
80   4/29/2020    NaN           Italy     203591   27682      71252
229  4/29/2020  Hubei  Mainland China      68128    4512      63616

In [95]:
df.groupby('Region').sum().head(1)

             Confirmed  Deaths  Recovered
Region
Afghanistan       1939      60        252

In [108]:
#df.groupby('Region').Confirmed.sum().sort_values(ascending =False)
#df.groupby('Region').Confirmed.sum().sort_values(ascending= False).max()
#df.groupby('Region').Deaths.sum().sort_values(ascending = True).min()