In [119]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [155]:
os.chdir('C:/Users/Admin/Downloads')

df = pd.read_csv('3. Police Data.csv')

In [156]:
df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,12/6/2012,17:54,NaN,F,1987.0,25.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,NaN,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
65532,12/6/2012,23:20,NaN,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
65533,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
65534,12/7/2012,0:30,NaN,F,1985.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [143]:
df.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [144]:
#removing the column that contains all the null values
# using inplace for saving my results
df.drop(columns='country_name', inplace= True)

In [145]:
df.head(2)
#now as we can see company name is not present

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [125]:
#question is find who is doing more speeding men or women
M_speeding_count = df[(df['driver_gender']=='M') & (df['violation']=='Speeding')].value_counts()
F_speeding_count = df[(df['driver_gender']=='M') & (df['violation']=='Speeding')].value_counts()
M_speeding_count.head(1)
F_speeding_count.head(1)

stop_date  stop_time  driver_gender  driver_age_raw  driver_age  driver_race  violation_raw  violation  search_conducted  search_type                          stop_outcome  is_arrested  stop_duration  drugs_related_stop
1/6/2006   16:40      M              1981.0          25.0        White        Speeding       Speeding   True              Incident to Arrest,Protective Frisk  Citation      False        30+ Min        False                 2
dtype: int64

In [146]:
df[df['violation']=='Speeding'].driver_gender.value_counts()

M    25517
F    11686
Name: driver_gender, dtype: int64

In [147]:
df[df.violation=='Speeding'].driver_gender.value_counts()

M    25517
F    11686
Name: driver_gender, dtype: int64

In [128]:
df_M= df[(df.violation=='Speeding') & (df.driver_gender=='M')].count()
df_M['driver_gender']

#so figured out two ways to do the same previous one better as it requires lessor steps and better filtering

25517

In [129]:
df.groupby('violation')['driver_gender'].value_counts()

#method three by using group by clause

violation            driver_gender
Equipment            M                 5120
                     F                 1396
Moving violation     M                 9784
                     F                 2142
Other                M                 3129
                     F                  454
Registration/plates  M                 1611
                     F                  632
Seat belt            M                    3
Speeding             M                25517
                     F                11686
Name: driver_gender, dtype: int64

In [130]:
df.groupby('driver_gender')['violation'].value_counts()
#method three by using group by clause

driver_gender  violation
F              Speeding               11686
               Moving violation        2142
               Equipment               1396
               Registration/plates      632
               Other                    454
M              Speeding               25517
               Moving violation        9784
               Equipment               5120
               Other                   3129
               Registration/plates     1611
               Seat belt                  3
Name: violation, dtype: int64

In [131]:
#question: does gender affect who gets searched during a stop?
#df.groupby('driver_gender).search_conducted.value_counts()
df.groupby('driver_gender')['search_conducted'].value_counts()

driver_gender  search_conducted
F              False               15944
               True                  366
M              False               43051
               True                 2113
Name: search_conducted, dtype: int64

In [132]:
df.groupby('driver_gender').search_conducted.sum()
#df.groupby('driver_gender')['search_conducted'].sum()

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

In [133]:
# search conducted 
df.search_conducted.value_counts()

# that means search conducted 2479 times out of which 2113 male and 366 females got caught

False    63056
True      2479
Name: search_conducted, dtype: int64

In [134]:
# mapping(change the value of the column) and data-type casting(data type change)
# What is the mean stop_duration
df.head(1)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [148]:
df['stop_duration'].value_counts()
# as we can see from the output that it consist three value str types 0-15, 16-30, 30+ so we have to convert
#these values

0-15 Min     47379
16-30 Min    11448
30+ Min       2647
2                1
Name: stop_duration, dtype: int64

In [157]:
#conversion of those values using map function
df['stop_duration']=df['stop_duration'].map({'0-15 Min' : 7.5, '16-30 Min' : 24, '30+ Min' : 45})
df['stop_duration'].mean()

12.187420698181345

In [168]:
#compare the age distributions for each division
df.groupby('violation')['driver_age'].describe()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,6507.0,31.682957,11.380671,16.0,23.0,28.0,39.0,81.0
Moving violation,11876.0,36.736443,13.258350,15.0,25.0,35.0,47.0,86.0
Other,3477.0,40.362381,12.754423,16.0,30.0,41.0,50.0,86.0
Registration/plates,2240.0,32.656696,11.150780,16.0,24.0,30.0,40.0,74.0
Seat belt,3.0,30.333333,10.214369,23.0,24.5,26.0,34.0,42.0
Speeding,37120.0,33.262581,12.615781,15.0,23.0,30.0,42.0,88.0

In [169]:
df.groupby('driver_age')['violation'].describe()

# which is not making any change in this

           count unique               top  freq
driver_age
15.0           5      2  Moving violation     4
16.0          34      5          Speeding    18
17.0         449      5          Speeding   338
18.0        1344      5          Speeding   980
19.0        2388      5          Speeding  1655
...          ...    ...               ...   ...
83.0           2      2          Speeding     1
84.0           3      1          Speeding     3
85.0           1      1  Moving violation     1
86.0           6      3          Speeding     3
88.0           2      1          Speeding     2

[73 rows x 4 columns]