In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st

In [6]:
survey = pd.read_csv(r'C:\Users\Admin\Downloads\Survey Dataset - Technical Interview.csv')

In [7]:
survey.count()

response_id         6867
collection_date     6867
urban_rural         6867
education           6867
income              6867
Vote_Now            6867
Past_Vote           6867
CM_satisfaction     6867
MLA_satisfaction    6867
age                 6867
gender              6867
assembly_no         6867
category            6867
weight              6867
dtype: int64

In [8]:
#how many collections were collected on each day
survey.groupby('collection_date')['response_id'].count()

collection_date
5-24-2017    1479
5-25-2017     998
5-26-2017     598
5-27-2017     665
5-28-2017     761
5-29-2017     620
5-30-2017     582
5-31-2017     557
6-1-2017      607
Name: response_id, dtype: int64

In [9]:
#Question 3 - What proportion of the total respondents were aged less than 45?sa
survey['age'].dtype

dtype('O')

In [10]:
survey['age'].unique()

array(['26', '34', '25', '36', '22', '38', '23', '42', '51', '29', '24',
       '30', '39', '37', '19', '44', '53', '32', '21', '18', '20', '27',
       '48', '28', '45', '74', '35', '31', '70', '40', '49', '46', '43',
       '41', '33', '58', '24ko', '56', '50', '55', '54', '62', '60', '59',
       '47', '61', '52', '66', '57', '67', '65', '71', '63', '64', '68',
       '69', '99', '72', '75', '76'], dtype=object)

In [11]:
survey['age'].replace({'24ko':24}, inplace=True)

In [12]:
survey['age'].unique()

array(['26', '34', '25', '36', '22', '38', '23', '42', '51', '29', '24',
       '30', '39', '37', '19', '44', '53', '32', '21', '18', '20', '27',
       '48', '28', '45', '74', '35', '31', '70', '40', '49', '46', '43',
       '41', '33', '58', 24, '56', '50', '55', '54', '62', '60', '59',
       '47', '61', '52', '66', '57', '67', '65', '71', '63', '64', '68',
       '69', '99', '72', '75', '76'], dtype=object)

In [13]:
survey['age'] = survey['age'].astype('int')

In [14]:
survey['age'].dtype

dtype('int32')

In [15]:
survey[survey['age']<45].count()

response_id         6399
collection_date     6399
urban_rural         6399
education           6399
income              6399
Vote_Now            6399
Past_Vote           6399
CM_satisfaction     6399
MLA_satisfaction    6399
age                 6399
gender              6399
assembly_no         6399
category            6399
weight              6399
dtype: int64

In [16]:
#now for finding out proportion we have to divide the total number of the people to total number of the age group less than 45
6399/6867*100

93.18479685452162

In [21]:
#Question 4 - Create a new column in the dataframe “age_group”.
#  This column should contain the age group the respondent belongs to.
#  The age groups are 18-25, 25-40, 40-55 and 55+. The dataframe should look like this after the column creation.
#survey['age_group'] = survey[]
survey.groupby('age')['age'].sum()

#lets create a copy of our data so we can do manipulations in that
df= survey.copy()

In [23]:
#we add new column by using insert formula- df.insert(new column position, new col name, colname)
df.insert(10, 'age_group', survey.age)

In [36]:
df1 = df[(df['age_group']>=18) & (df['age_group']<25)]
df.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,26,Male,211,Gen,0.346969

In [37]:
df1.age_group.unique()

array([22, 23, 24, 19, 21, 18, 20])

In [38]:
df1['age_group'] = '18-25'
#it will create the range

C:\Users\Admin\AppData\Local\Temp\ipykernel_9864\3063979790.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['age_group'] = '18-25'

In [40]:
df1.head(2)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25,Male,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,18-25,Male,181,Gen,0.226477

In [42]:
df2 = df[(df['age_group']>=25) & (df['age_group']<40)]

In [43]:
df2['age_group'] = 25-40

C:\Users\Admin\AppData\Local\Temp\ipykernel_9864\4099768145.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['age_group'] = 25-40

In [57]:
df3 = df[(df['age_group']>=40) & (df['age_group']< 55)]
df['age_group'].unique()

array([-15], dtype=int64)

In [47]:
df3['age_group'] = 40-55

C:\Users\Admin\AppData\Local\Temp\ipykernel_9864\518879692.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['age_group'] = 40-55

In [56]:
df4= df[(df['age_group']>=55)]    
df4['age_group'].unique()

array([], dtype=int64)

In [53]:
df4['age_group'] = 55

TypeError: list indices must be integers or slices, not str

In [62]:
#then we will combine all the four columns to create our new dataframe age groups
df6= pd.concat([df1,df2,df3])
df6['age_group'].unique()

# need to do it again

array(['18-25', -15], dtype=object)

In [64]:
#how many sample were collected

In [66]:
df.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,-15,Male,211,Gen,0.346969